*{
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	margin: 0px;
}

body
{
	background-color: #B9B9B9;
}

/* header */

header
{
	width: 980px;
	height: 100px;
	background-color: #4A0000;
	margin: 20px auto 0px auto;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

header .menu
{
	width: 68%;
	height: 100px;
	float: left;
}

header .logo
{
	float: right;
	width: 32%;
	height: 100px;
}

header .topline
{
	width: 978px;
	z-index: 10;
	position: absolute;
	top: 121px;
	border: 1px solid #4A0000;
}

header .logo img
{
	border-top-right-radius: 15px;
	width: 100%;
	height: 100px;
}

header .menu .menubox
{
	width: 100%;
	height: 78px;
}	

nav
{
	height: 22px;
	width: 99%;
	margin: 0 auto;
}

nav .link
{
	border-right: 1px solid white;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: #AF8F8F;
	float: left;
	font-size: 10.5px;
	letter-spacing: 0px;
}

nav .link:last-child
{
	border-right: 0px;
}

/* end header */

/* section */

section
{
	width: 980px;
	background-color: #FFFFFF;
	min-height: 495px;
	margin: 0 auto;
}

	/* home page */

	section .banner
	{
		width: 980px;
		height: auto;
	}
	
	section .banner .bottom_line
	{
		position: absolute;
		top: 547px;
		border: 1px solid #FFFFFF;
		width: 978px;
		z-index: 10;
	}
	
	section .container
	{
		width: 980px;
		height: 195px;
		margin-top: 15px;
	}
	
	section .container .description
	{
		border-right: 2px solid #C0C0C0;
		width: 292px;
		height: 174px;
		float: left;
		padding-left: 15px;
		padding-right: 18px;
		color: #4A0000;
	}
	
	section .container .description:last-child
	{
		border: 0px;
	}
	
	section .container .description h1,h2
	{
		font-size: 18px;
		margin-bottom: 2px;
	}
	
	section .container .description p
	{
		font-size: 12.5px;
		line-height: 22px;
	}
	
	/* end home page*/
	
	/* welcome page */
	
	section .welcomeimg
	{
		width: 980px;
		height: 200px;
	}
	
	section .welcome
	{
		width: 970px;
		height: 200px;
		margin: 20px auto 0px auto;
	}
	
	section .welcome .welcomeleft
	{
		width: 42%;
		height: 220px;
		float: left;
	}
	
	section .welcome .welcomeleft img
	{
		width: 380px;
		height: 230px;
		margin-left: 10px;
	}
	
	section .welcome .welcomeright
	{
		padding-left: 25px;
		font-size: 13px;
		color: #4B0001;
		float: left;
		width: 51.8%;
		height: 220px;
		border-left: 1px solid black;
	}
	
	section .welcome .welcomeright h1
	{
		font-size: 18px;
		margin-bottom: 10px;
	}
	
	section .welcome .welcomeright p
	{
		line-height: 23px;
	}
	
	section .welcome .welcomeright span
	{
		font-weight: bold;
	}
	
	/* end welcome page */
	
	/* services page */
	
	section .services
	{
		width: 100%;
		height: 185px;
		border: 1px solid white;
		border-right: #B9B9B9;
	}
	
	section .services_img
	{
		width: 980px;
		height: auto;
	}
	
	section .services_img .top_line
	{
		width: 978px;
		border: 1px solid #B9B9B9;
		position: absolute;
		top: 308px;
		z-index: 10;
	}
	
	section .services_img .bottom_line
	{
		width: 978px;
		border: 1px solid #FFFFFF;
		position: absolute;
		top: 565px;
		z-index: 10;
	}
	
	section .services .services_box
	{
		width: 100%px;
		height: 130px;
		margin: 30px auto 0 auto;
	}
	
	section .services .box_two
	{
		margin-top: 20px;
	}
	
	section .services .services_box .services_text
	{
		color: #4A0000;
		float: left;
		width: 450px;
		height: 130px;
		padding-left: 20px;
		padding-right: 20px;
		border-right: 1px solid black;
	}
	
	section .services .services_box .services_text:last-child
	{
		border: 0px;
		width: 449px;
	}
	
	section .services .services_box .services_text h1,h2
	{
		font-size: 18px;
		margin-bottom: 2px;
	}
	
	section .services .services_box .services_text p
	{
		font-size: 12.5px;
		line-height: 22px;
	}
	
	
	/* end services page */
	
	/* rental */
	
	section .rental
	{
		width: 100%;
		height: 80px;
		color: #4A0000;
	}
	
	section .rental h2
	{
		padding-left: 30px;
		padding-top: 30px;
	}
	
	section .rental p
	{
		padding-left: 30px;
		font-size: 12.5px;
		font-weight: bold;
	}
	
	section .new_rental
	{
		border-bottom: 1px solid #4A0000;
		width: 98%;
		height: 303px;
		margin: 0 auto;
		padding-top: 50px;
	}
	
	section .new_rental .rental_left
	{
		float: left;
		width: 50%;
		height: 300px;
	}
	
	section .new_rental .rental_left .rental_top
	{
		width: 100%;
		height: 30px;
	}
	
	section .new_rental .rental_left .rental_top .car_title
	{
		height: 30px;
		float: left;
	}
	
	section .new_rental .rental_left .rental_top .car_title h2
	{
		padding-left: 21px;
		color: #4A0000;
	}
	
	section .new_rental .rental_left .rental_top .car_line
	{
		min-width: 50%;
		border-bottom: 1px solid #4A0000;
		float: right;
		margin-top: 12px;
		margin-right: 17px;
	}
		
	section .new_rental .rental_left .description
	{
		width: 97%;
		height: auto;
	}
	
	section .new_rental .rental_left .description p
	{
		padding-left: 21px;
		font-size: 12px;
		color: #4A0000;
	}
	
	section .new_rental .rental_left .description p span
	{
		font-weight: bold;
	}
	
	section .new_rental .rental_left .price_day
	{
		height: 70px;
		width: 100%;
		font-size: 12px;
		font-weight: bold;
		color: #4A0000;
		text-align: right;
	}
	
	section .new_rental .rental_left .price_day .days
	{
		width: 70%;
		height: 70px;
		line-height: 20px;
		float: left;
	}
	
	section .new_rental .rental_left .price_day .prices
	{
		float: left;
		height: 70px;
		width: 30%;
		line-height: 20px;
	}
	
	section .new_rental .rental_left .price_day .prices p
	{
		padding-right: 50px;
	}
	
	section .new_rental .rental_left .rental_images
	{
		width: 100%;
		height: 82px;
	}
	
	section .new_rental .rental_left .rental_images .small_images
	{
		width: 75px;
		height: 45px;
		border: 2px solid #FFFFFF;
		box-shadow: 5px 5px 5px #C0C0C0;
		float: right;
		margin-top: 34px;
		cursor: pointer;
	}
	
	section .new_rental .rental_left .rental_images .small_images:first-child
	{
		margin-right: 20px;
	}
	
	section .new_rental .rental_right
	{
		float: left;
		width: 50%;
		height: 300px;
	}
	
	section .new_rental .rental_right .large_images
	{
		position: absolute;
		width: 474px;
		height: 280px;
		border: 3px solid black;
	}
	
	section .clean
	{
		width: 100%;
		height: 30px;
	}
	
	/* end rental */
	
	/* used cars */
	
	section .used
	{
		width: 100%;
		height: 70px;
		color: #4A0000;
	}
	
	section .used h2
	{
		padding-left: 30px;
		padding-top: 45px;
	}
	
	section .new_used
	{
		border-bottom: 1px solid #4A0000;
		width: 98%;
		height: 303px;
		margin: 0 auto;
		padding-top: 50px;
	}
	
	section .new_used .used_left
	{
		float: left;
		width: 50%;
		height: 300px;
	}
	
	section .new_used .used_left .used_top
	{
		width: 100%;
		height: 30px;
	}
	
	section .new_used .used_left .used_top .used_title
	{
		height: 30px;
		float: left;
	}
	
	section .new_used .used_left .used_top .used_title h2
	{
		padding-left: 21px;
		padding-right: 6px;
		color: #4A0000;
	}
	
	section .new_used .used_left .used_top .used_line
	{
		min-width: 50%;
		border-bottom: 1px solid #4A0000;
		float: right;
		margin-top: 12px;
		margin-right: 17px;
	}
	
	section .new_used .used_left .description
	{
		width: 97%;
		height: auto;
	}
	
	section .new_used .used_left .description p
	{
		padding-left: 21px;
		font-size: 12px;
		color: #4A0000;
	}
	
	section .new_used .used_left .description p span
	{
		font-weight: bold;
	}
	
	section .new_used .used_left .price
	{
		height: 70px;
		width: 100%;
		font-size: 12px;
		font-weight: bold;
		color: #4A0000;
		text-align: right;
	}
	
	section .new_used .used_left .price h2
	{
		padding-top: 15px;
		padding-right: 15px;
	}
	
	section .new_used .used_left .price p
	{
		padding-right: 15px;
		font-weight: normal;
	}
	
	section .new_used .used_left .used_images
	{
		width: 100%;
		height: 82px;
	}
	
	section .new_used .used_left .used_images .small_images
	{
		width: 60px;
		height: 35px;
		border: 2px solid #FFFFFF;
		box-shadow: 5px 5px 5px #C0C0C0;
		float: right;
		margin-top: 60px;
		cursor: pointer;
	}
	
	section .new_used .used_left .used_images .small_images:first-child
	{
		margin-right: 20px;
	}
	
	section .new_used .used_right
	{
		float: left;
		width: 50%;
		height: 300px;
	}
	
	section .new_used .used_right .large_images
	{
		position: absolute;
		width: 474px;
		height: 280px;
	}
	
	section .clean
	{
		width: 100%;
		height: 30px;
	}
	
	/* end used cars */
	
	/* contact */
	
	section .contact_left
	{
		width: 40%;
		height: 495px;
		float: left;
	}
	
	section .contact_right
	{
		width: 60%;
		height: 495px;
		float: left;
	}
	
	section .contact_right .map
	{
		margin-top: 75px;
		margin-left: 50px;
		width: 500px;
		height: 350px;
		border: 1px solid #FFFFFF;
		box-shadow: 10px 10px 5px #C0C0C0;
	}
	
	section .contact_left .contact_title
	{
		width: 100%;
		height: 150px;
	}
	
	section .contact_left .contact_title h2
	{
		padding: 30px 0px 20px 40px;
		color: #490000;
	}
	
	section .contact_left .contact_title p
	{
		padding-left: 40px;
		font-size: 14.5px;
		font-weight: bold;
	}
	
	section .contact_left .contact_title p span
	{
		font-weight: normal;
	}
	
	section .contact_left .contact_fo
	{
		width: 100%;
		height: 100px;
	}
	
	section .contact_left .contact_fo img
	{
		margin-left: 30px;
		margin-right: 10px;
		width: 70px;
		height: 70px;
		border: 2px solid #FFFFFF;
		box-shadow: 5px 5px 5px 1px #C0C0C0;
		float: left;
	}
	
	section .contact_left .contact_fo p
	{
		font-weight: bold;
		font-size: 12.5px;	
	}
	
	section .contact_left .contact_fo p span
	{
		font-weight: normal;
	}
	
	section .contact_left .contact_fr
	{
		width: 100%;
		height: 100px;
	}
	
	section .contact_left .contact_fr img
	{
		margin-left: 30px;
		margin-right: 10px;
		width: 70px;
		height: 70px;
		border: 2px solid #FFFFFF;
		box-shadow: 5px 5px 5px 1px #C0C0C0;
		float: left;
	}
	
	section .contact_left .contact_fr p
	{
		font-weight: bold;
		font-size: 12.5px;	
	}
	
	section .contact_left .contact_fr p span
	{
		font-weight: normal;
	}
	
	
	/* end contact */
	
/* section*/

/* footer */

footer
{
	width: 980px;
	height: 25px;
	margin: 0 auto;
	background-color: #4A0000;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
}

/* end footer */


